#spacer-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
}
mat-card{
  margin: 4rem;
  width : 15rem;
  height: 15rem;
  mat-card-title{
    text-align: center;
  }
}
