#spacer-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
mat-card{
  margin: 4rem;
  width : 15rem;
  height: 15rem;
  transition: all .3s ease;
  align-items: center;
  mat-card-title{
    color:red;
  }
}
mat-card:hover{
    cursor: pointer;
    scale: 1.2;
}

