#xxx{
  width: 100%;
  height: 100%;
}
.grid-center{
  display: grid;
  place-items: center;
}

mat-card{
  max-width   : 400px;
  text-align  : center;
}

mat-card mat-card-title{
  padding-top: 20px;
}

mat-form-field{
  width     : 80%;
  font-size : 18px;
}

.registration-input{
  padding-top: 20px;
}
.password-input{
  margin-top: -10px;
}

.full-width{
  width: 80%;
}

.full-height{
  height: 60px;
}

.button-enter{
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 22px;
}
/*input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

/*input.example-right-align {
  -moz-appearance: textfield;
}

/*.container .mat-form-field{
  width: 300px;
}
.center-align{
  text-align: center;
  //background-color: red;
  margin-top: 15%;
}
*/
